:root {
    --first-color: #2e94b9; 
    --second-color:#475053; 
    --third-color: #acdcee; 
    --fourth-color: #113f67;
    --sixth-color: #b2e1e8;
    --fifth-color: #f0fbff; 

}

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
}

.body-container {

    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(96,136,196,1) 0%, rgba(66,115,184,1) 50%, rgba(51,109,180,1) 100%);

    border-bottom: solid var(--fifth-color);
}

.main-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--third-color);
    height: 80%;
    padding: 2em;
}

.entities {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 2em;
    width: 35%;
    height: 70%;
}


.button-list{

    display: flex;
    padding: 8%;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.button-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--fifth-color);
    width: 70%;
    height: 8%;
    background: var(--first-color);

}

footer {
    background: var(--first-color);
    height: 20%;
}