<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../public/home.css">
    </head>

    <body>
        <div class="body-container">  
            <header class="header">
                <div class="logo-title">
                    <img class="logo" src="/public/logo-ancla-removebg-preview.png" alt="logo">
                    <h1 id="logo-title">Gestor Acuario el Ancla</h1>
                </div>
                <button class="log-out-button" type="button" id="log-out-button">Cerrar Sesión</button>

            </header>


            <div class="main-container" id="main-container">

                <div class="side-bar hidden" id="side-bar">
                    <button class="side-bar-button" id="add-button">Añadir</button>
                    <button class="side-bar-button" id="delete-button">Eliminar</button>
                    <button class="side-bar-button">Editar</button>
                    <button class="side-bar-button" id="show-button">Mostrar</button>
                    <div class="back-button side-bar-button" id="back-button">Volver</div>
                </div>

                <ul class="button-list" >
                    <li class="entitie" id="suppliers">Proveedores</li>
                    <li class="entitie" id="products">Productos</li>
                    <li class="entitie" id="sales">Ventas</li>
                </ul>

                <ul class="button-list">
                    <li class="entitie" id="purchases">Compras</li>
                    <li class="entitie" id="users">Usuarios</li>
                    <li class="entitie" id="customers">Clientes</li>
                </ul>

                <section class="show-container hidden" id="show-container">
                    <div class="entitie-title" id="entitie-title">ANADIR/ELIMINAR/USUARIOS</div>

                </section>

            </div>



            <footer>
                © 2024 Acuario El Ancla. Todos los derechos reservados.
            </footer>
            <div class="overlay-modal hidden" id="modal">
                <div class="container-modal">
                    <h1 class="warning" id="warning"> Mensaje titulo</h1>
                    <p class="message" id="message">Contenido de error</p>       
                    <button class="accept" type="button" id="accept">Aceptar</button>
                </div>
            </div>
        </div>
        <script type="module" src="/public/homeScript.js"></script>
    </body>

</html>