<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../public/home.css">
    </head>

    <body>
        <div class="body-container">  
            <header class="header">
                <div class="logo-title">
                    <img class="logo" src="/public/logo-ancla-removebg-preview.png" alt="logo">
                    <h1>Gestor Acuario el Ancla</h1>
                </div>
                <button class="log-out-button" type="button" id="log-out-button">Cerrar Sesión</button>

            </header>


            <div class="main-container" id="main-container">

                <div class="side-bar hidden" id="side-bar">
                    <button class="side-bar-button">Añadir</button>
                    <button class="side-bar-button">Eliminar</button>
                    <button class="side-bar-button">Editar</button>
                    <button class="side-bar-button">Mostrar</button>
                    <div class="back-button side-bar-button" id="back-button">Volver</div>
                </div>

                <ul class="button-list" >
                    <li class="entitie">Proveedores</li>
                    <li class="entitie">Productos</li>
                    <li class="entitie">Ventas</li>
                </ul>

                <ul class="button-list">
                    <li class="entitie">Compras</li>
                    <li class="entitie">Usuarios</li>
                    <li class="entitie">Clientes</li>
                </ul>

            </div>



            <footer>
                © 2024 Acuario El Ancla. Todos los derechos reservados.
            </footer>
        </div>
        <script type="module" src="/public/homeScript.js"></script>
    </body>

</html>