<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/public/login.css"">
    </head>
    <body>
        <div class="body-container">
            <div class="circle-one"></div>
            <div class="circle-two"></div>
            
            <section class="login">
                <header class="ancla-title">
                    <h1>ACUARIO EL ANCLA</h1>
                </header>
                <form class="login-form">
                    <input type="text" class="login-inputs" placeholder="Usuario">
                    <input type="password" class="login-inputs" placeholder="Contraseña">
                    <button class="login-button">Iniciar Sesión</button>
                    <div class="login-logo">
                        <img  src="/public/logo-ancla-removebg-preview.png" alt="logo">
                    </div>
                   
                </form>
            </section>

        </div>
    </body>
</html>